bettenbauernfeind.de {
	root * /var/www/client-production/

	file_server
	reverse_proxy localhost:3000
	encode gzip zstd

	log {
		output file /var/log/caddy/client.access.log {
			roll_size 3MiB
			roll_keep 5
			roll_keep_for 48h
		}
		format filter {
			wrap console
			fields {
				common_log delete
				request>remote_addr ip_mask {
					ipv4 24
					ipv6 32
				}
			}
		}
	}
}

beta.bettenbauernfeind.de {
	root * /var/www/client-beta/
	header X-Robots-Tag noindex

	file_server
	reverse_proxy localhost:3001
	encode gzip zstd
}

www.bettenbauernfeind.de {
	templates
	redir https://bettenbauernfeind.de{uri} permanent
}

backend.bettenbauernfeind.de {
	reverse_proxy localhost:1337
}
